
<div class="blogContent">
    <% data.forEach(post=> { %>
    
    
    
        <ul>
            <p>
                Released date: <%= post.updatedAt.toDateString() %>
            </p>
            <h1>
                <a href="/blog/<%= post.title %>" target="_blank">
                    <%= post.title %>
                </a>
            </h1>
            <article>
                <%= post.description.slice(0, 249) %>...
            </article>
    
            <div style="margin-top: 1rem; margin-left: auto;">
                <a href="/blog/<%= post.title %>" target="_blank">Read More>></a>
            </div>
        </ul>
    
    <% }) %>

</div>
